.single-item{
background-color: #ADD8E6;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

#image, #boomerang{
  max-width: 100%;
  height: auto;
}

h1, p{
  text-align: center;
}

p{
  font-size: 30px;
}

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
    display: none;
}

/* If response messages are disabled or only shown on quiz completion,
   nextQuestion button IS checkAnswer button - so it must be displayed */
.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
}

/* Accessibility */
.quizName span:first-child {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.quizArea{
  background-color:pink;
}
/*
#content{
  opacity: 0;
  position: absolute;
  top:15%;
  left:25%;
  max-width: 30%;
}*/
