/* Global Styles */
body{
  background-color: #962206;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

#image, #boomerang{
  max-width: 100%;
  height: auto;
}

h1, h2, p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 30px;
  font-family: 'Bungee Inline', cursive;
  color: #f2ef7e;
}

h2{
  font-size: 15px;
  color: #fff;
}

p{
  font-size: 30px;
}

/* Slick Slider */
.single-item{
background-color: #87cefa;
}

/* Slick Quiz */
.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
    display: none;
}

/* If response messages are disabled or only shown on quiz completion,
   nextQuestion button IS checkAnswer button - so it must be displayed */
.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.quizDescription, .startQuiz{
  font-family: 'Poppins', sans-serif;
}

/* Accessibility */
.quizName span:first-child {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.quizArea{
  background-color:#422ad1;
  padding: 50px;
  font-size: 20px;
  color: #fff;
}

/* Image Map Resize */
#content{
  opacity: 0;
  position: absolute;
  top:15%;
  left:25%;
  max-width: 30%;
  background-color: pink;
}

#target{
  width: 300px;
  height: 400px;
  background-color: red;
}
